.section {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 3rem auto 7.5rem;
  margin-top: 40px;
  overflow: visible;
  transition: all 0.5s ease;
  isolation: isolate;
}

.inner {
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 1rem;
  gap: 0.5rem;
}

.wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  flex-shrink: 0;
  gap: 1rem;
}