.content {
  position: absolute;
  bottom: 2.5rem;
  left: 2.5rem;
  max-width: 28rem;
  z-index: 10;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 1.25rem;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.4));
  display: inline;
}

.year {
  font-size: 1.25rem;
  color: rgb(229, 229, 229);
  margin-bottom: 1.25rem;
  display: inline;
  margin-left: 0.5rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.btnWatch {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  width: 107px;
  height: 36px;
  border-radius: 4px;
  gap: 10px;
  padding: 8px 20px;
  font-weight: 600;
  font-size: 16px;
  border: none;
  cursor: pointer;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s;
}

.btnWatch:hover {
  background-color: rgb(229, 229, 229);
}

.btnInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  width: 139px;
  height: 36px;
  border-radius: 4px;
  gap: 10px;
  padding: 8px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s;
}

.btnInfo:hover {
  background-color: rgba(255, 255, 255, 0.3);
}